:root {
  --red: #CF6766;
  --blue: #30415D;
  --black: #031424;
  --gray: #8EAEBD;
  --litegray: rgba(0,0,0,0.05);
}

* {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

#nav-container {
  display: flex;
  height: 100vh;
  background: var(--litegray);
  h2 {
    text-align: center;
  }
  #about {
    background: var(--red);
  }
  #work {
    background: var(--blue);
  }
  #skills {
    background: var(--black);
  }
  #contact {
    background: var(--gray);
  }
  &:hover .col{
    opacity: 0.5;
  }
}

#contact {
    .contact-info-container {
      height: 0px;
      overflow: hidden;
      transition: height 300ms ease;
    }
    a {
      color: var(--blue);
    }
    &:hover {
      .contact-info-container{
        height: 160px;
      }
      h2 {
        text-align: left ;
      }
    }
}

.col {
  flex: 1;
  color: white;
  transition: flex 300ms cubic-bezier(0.18, 0.18, 0.35, 1.2), opacity 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 0vh;
  h2 {
    text-transform: uppercase;
    transition: all 300ms ease;
  }
  &:hover {
    flex: 2;
    opacity: 1 !important;
    .read-more {
      transform: translateY(0);
    }
    .next {
      visibility: visible;
    }
    h2 {
      font-size: 36px;
    }
  }
  .next {
    position: absolute;
    bottom: calc(25% - 12px);
    visibility: hidden;
    i {
      font-size: 24px;
      animation-name: arrow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes arrow {
    0% {
      opacity: 0;
      transform: translateY(-25px);
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(25px);
    }
}

#skills {
  align-items: flex-end;
  .content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header-container {
      margin: 32px 64px;
    }
    h2 {
      margin: 0;
    }
  }
  .skills-container {
    width: 100%;
    overflow: hidden;
    height: 0;
    ul {
      padding: 0;
      margin: 0 0 32px 64px;
    }
    li {
      padding: 8px 0;
      padding-right: 128px;
    }
    .process-bar {
      height: 3px;
      background: var(--red);
      margin-top: -8px;
      width: 0;
    }
    h4 {
      text-transform: uppercase;
      margin: 32px 64px 16px 64px;
      padding: 0;
    }
  }
  #code {
    background: rgba(255,255,255,0.1);
  }
  #tools {
    background: rgba(255,255,255,0.2);
  }
  #video {
    background: rgba(255,255,255,0.3);
  }
  &:hover h2 {
    text-align: left;
  }
}

.contact-info-container {
  .contact-item {
    height: 22px;
    overflow: hidden;
    margin: 8px 0;
    i {
      padding-right: 6px;
    }
    p, a {
      margin: 0;
      transition: all 300ms ease;
    }
    a {
      display: block;
      color: white;
    }
    &:hover {
      .label, .link{
        transform: translateY(-24px);
      }
      a {
        color: white;
      }
    }
  }
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
  }
}

#about-page {
  background: var(--litegray);
  position: relative;
  color: var(--black);
}

#work-page {
  position: relative;
  background: var(--blue);
  color: white;
}

.and-up {
  position: absolute;
  color: white;
  bottom: 32px;
  i {
    font-size: 21px;
  }
  p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: all 300ms ease;
    margin: 0 0 -4px 8px;
    font-weight: 600;
  }
  &:hover  {
    p {
      width: 78px;
    }
  }
}
#work-page {
  position: relative;
  display: flex;
  .project-box {
    width: 100px;
    height: 100px;
    background: white;
    transition: all 1s ease;
    &:hover {
      width: 100vw;
      height: 100vh;
    }
  }
}
